<div class="row-fluid">
	<div class="span12">
		<ul class="nav-header">
			<li><a href="/notification/all_noti">모든 알림</a></li>
			<li><a href="/notification/activity_noti">활동 알림</a></li>
			<li><a href="/notification/message_noti">메세지 알림</a></li>
			<li><a href="/notification/post_noti">나의 글</a></li>
		</ul>
	</div>
</div>
