<div class="container">
	<div class="row">
		<div class="span4">
			<h2>Whum share</h2>
		</div>
		<div class="span8" style="height:80px">
			<% if current_user %>
				 <strong><%= current_user.name %></strong>님 환영합니다.
				<%=link_to "Sign out", signout_path, id: "sign_out", class:"btn" %>
			<% else %>
				<form class="form-horizontal" method="post">
					<div class="row-fluid">
						<div class="span4">
							<label>Facebook ID</label>
							<input type="text" class="input-medium">
						</div>
						<div class="span4">
							<label>Facebook Password<br></label>
							<input type="text" class="input-medium">
						</div>
						<div class="span4">
							<%= link_to "로그인", "/auth/facebook", id: "sign_in", class:"btn" %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<label class="checkbox" for="checkbox">
								<input type="checkbox" value="true" id="checkbox" name="checkbox">
								<span>로그인 유지하기</span>
							</label>
						</div>
						<div class="span6">
							<a href="#">비밀번호를 잊으셨나요?</a>
						</div>
					</div>
				</form>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<img src="https://app.divshot.com/img/placeholder-100x100.gif" width="100%" height="100%">
		</div>
	</div>
</div>

