<div class="row-fluid">
	<div class="span12">
		<div class="row">
			<div class="well pull-left span8"></div>
		</div>
		<div class="row">
			<div class="well pull-right span8"></div>
		</div>
		<div class="row-fluid">
			<div class="span8 pull-right">
				<textarea style="height:80%;width:100%"></textarea>
				<a class="btn">사진 추가</a>
				<div class="span8">
					<label class="checkbox" for="checkbox">
						<input type="checkbox" value="true" id="checkbox" name="checkbox">전송하려면 Enter키를 누르세요</label>
				</div>
			</div>
		
		</div>

		<div class="row-fluid">
			<a class="btn pull-right">거래 신청</a>
		</div>
	</div>
</div>

