<div class="well">
	<a class="btn"><img src="https://app.divshot.com/img/placeholder-100x100.gif" width="30">ID/age/gender</a> 
	<div class="row-fluid well">
		<div class="span2">
			<img src="https://app.divshot.com/img/placeholder-100x100.gif">
		</div>
		<div class="span10">
			<p>product name/ price/ buy_year/ place/ method</p>
		</div>
	</div>
	<div class="row-fluid well">
		<div class="span12">
			<p>product name<br>
				price<br>
				buy_year<br>
				place<br>
				method<br>
				comment<br>
				<img src="https://app.divshot.com/img/placeholder-100x100.gif">
				<br>
				<a class="btn">Busket</a><a class="btn">Chat</a></p>
		</div>
	</div>
</div>
<a class="btn pull-right">Write</a>

