<a class="btn pull-right" href="/uploads">글쓰기</a>
<div id="product_page" class="row-fluid">
</div>

<!-- Modal -->
<div id="product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">product_name</h3>
	</div>
	<div class="modal-body">
		<div id="modal_content" class="span12">
						</div>
	</div>
	<div class="modal-footer">
		<a class="btn">장바구니</a>
		<a id="message_button" class="btn">메세지</a>
	</div>
</div>
<script>
$(function(){
	category_list(1);
});

function product_modal_button(id){
  $.ajax({
    url: "/product/product_modal_json.json",
    type: "POST",
    data: {
      product_id: id
    },
    success: function(data) {
      if(data.error_code==0){
				modal_text=""
				modal_text+=data.product.name+"/"
				modal_text+= data.product.price+"/"
				modal_text+= data.product.buy_year+"년 "+ data.product.buy_month+"월/"
				modal_text+= data.method+"/"
				modal_text+= data.status+"/"
				modal_text+= data.product.comment
				uploads=data.uploads

				modal_text+="<div class='row-fluid'>"
				for(i=0;i<uploads.length;i++){
					modal_text+="<div class='span3'>"
					modal_text+="	<img src='"+uploads[i]+"' >"
					modal_text+="</div>"
				}
				modal_text+="</div>"
				$("#modal_content").html(modal_text);
				$("#message_button").attr("href","/chat?product_id="+data.product.id);

				$('#product_modal').modal("show"); 
      }else{
        alert(data.error_msg);
      }
    }
  });
}
</script>
