<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4">
				<p>제품명</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>희망가격</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>category</p>
			</div>
			<div class="span8">
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Action <span class="caret"></span> </a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">First Link</a>
						</li>
						<li>
							<a href="#">Second Link</a>
						</li>
						<li>
							<a href="#">Third Link</a>
						</li>
					</ul>
				</div>
			</div>

		<div class="row-fluid">
			<div class="span4">
				<p>희망거래지</p>
			</div>
			<div class="span8">
				<input type="text" class="input-mini">~<input type="text" class="input-mini">
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p>카테고리</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium">
			</div>
		</div>
			<div class="row-fluid">
				<div class="span4">
					<p>구입 연/월</p>
				</div>
				<div class="span8">
					<input type="text" class="input-mini" placehorder="년">/
					<input type="text" class="input-mini" placehorder="월">
				</div>
			</div>

			<div class="row-fluid">
				<div class="span4">
					<p>제품 사진</p>
				</div>
				<div class="span8">
					<img src="https://app.divshot.com/img/placeholder-100x100.gif"><br>
					<a class="btn">불러오기</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<p>판매글</p>
				</div>
				<div class="span8">
					<textarea></textarea>
				</div>
			</div>
		</div>
		<label class="checkbox" for="checkbox">
			<input type="checkbox" value="true" id="checkbox" name="checkbox">
			내 타임라인에 게제
		</label>
		<a class="btn">등록</a>
	</div>
</div>

