<div class="row-fluid">
	<div class="span12">
		<ul class="nav-header">판매중인 친구
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<ul class="nav-header">가입한 친구
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>
	</div>
</div>
