<div class="row-fluid">
	<div class="span12">
		<ul class="nav-header">List header
			<li><a href="#">신용도</a></li>
			<li><a href="#">장바구니</a></li>
			<li><a href="#">나의 판매 목록</a></li>
			<li><a href="#">나의 구입 목록</a></li>
			<li><a href="#">나의 정보</a></li>
			<li><a href="#">환경 설정</a></li>
		</ul>
	</div>
</div>
