<div class="row-fluid">
	<div class="span12">
		<ul class="nav-header">
			<li><a href="/user/my_info">나의 정보</a></li>
			<li><a href="/user/evaluation">신용도</a></li>
			<li><a href="/user/basket/">장바구니</a></li>
			<li><a href="/user/my_buy_product">나의 구입 목록</a></li>
			<li><a href="/user/my_sell_product">나의 판매 목록</a></li>
			<li><a href="/user/preference">환경 설정</a></li>
		</ul>
	</div>
</div>
