
%ul#chat
  - @chat_messages.each do |chat_message|
    %li
      = chat_message.created_at.strftime('%-d/%-m/%Y %k:%M:%S')
      = ':'
      = chat_message.message

%hr

%input{type: 'text', name: 'message'}
%button Post

%hr

