<div class="row-fluid">
	<div class="span3">
		<h3><a href="/product/product_list"><%#Whum Share%></a></h3>
	</div>
	<%if current_user%>
		<div class="span6">

			<a href="/friend/friend_product">
				<span class="badge">
					<img src="https://app.divshot.com/img/placeholder-100x100.gif" alt="friends" width="30">42
				</span>
			</a>
			<a href="/chat/chat_main">
				<span class="badge">
					<img src="https://app.divshot.com/img/placeholder-100x100.gif" alt="chat" width="30">42
				</span>
			</a>
			<a href="/notification/all_noti">
				<span class="badge">
					<img src="https://app.divshot.com/img/placeholder-100x100.gif" alt="status" width="30">
					<span id="noti_count"></span>
				</span>
			</a>

			<button id="push_noti">push_noti</button>
		</div>
		<div class="span3">
			<a href="/user/my_info" class="btn"><%=current_user.name%></a>

			<%=link_to "Sign out", signout_path, id: "sign_out", class:"btn" %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<a class="btn" onclick="open_search_modal();" >검색</a>
			<a class="btn" href="/product/my_search">+</a>
		</div>
		<div class="span6">
			<div class="btn-group pull-right">
				<a class="btn" data-toggle="dropdown" href="#">나의 검색어</a>
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">    <span class="caret"></span>  </a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">First Link</a>
					</li>
					<li>
						<a href="#">Second Link</a>
					</li>
					<li>
						<a href="#">Third Link</a>
					</li>
				</ul>
			</div>
		</div>
	<%else%>
		<div class="span3">
		</div>
		<div class="span6">
			<form class="form-horizontal" method="post">
						<%= link_to "페이스북으로 로그인하기", "/auth/facebook", id: "sign_in", class:"btn" %>
			</form>
		</div>
	<%end%>
</div>

<script>
	var search_div=false;
	function open_search_modal(){
		$("#search_div").show();
		search_div = true;
	}

	$(function(){
		(function() {
			var client;
			var noti_channel="/noti_push/<%=@user_id%>";
			client = new Faye.Client('http://share.whum.net/faye');
			client.subscribe(noti_channel, function(payload) {
				alert("noti_push" + payload.type + payload.content);
				return $("#noti_count").append(payload.content + "<br>");
			});
			//window.client = client;
		}).call(this);


		//TODO Delete this noti push test button
		$("#push_noti").click(function(){
			$.ajax({
				url: "/notification/push_noti.json",
				type: "POST",
				success:function(data){
					//alert("send push noti")
				}
			});
		});

		//글자 누르면 검색창 뜨는 것
		$('#search_name').trigger(jQuery.Event('keypress', {which: 107}));
		$(this).keydown(function(evt) {
			if(search_div==true){
				if(evt.which==27){
					$("#search_div").hide();
					search_div=false;
				}
			}
		});
	});

</script>
